.hello_container{
  border:5px solid skyblue;
  margin:5px;
  padding:5px;
}
.function_container{
  border:5px solid yellow;
  margin:5px;
  padding:5px;
}
.class_container{
  border:5px solid red;
  margin:5px;
  padding:5px;
}